[submodule "front"]
	path = front
	url = https://github.com/munseunggyu-sonuvis/electron-sub.git
[submodule "electron"]
	path = electron
	url = https://github.com/munseunggyu-sonuvis/electron-submodule.git
[submodule "back"]
	path = back
	url = https://github.com/munseunggyu-sonuvis/electron-sub2.git
